<p>name:<%= @user.name %></p>

<p>email: <%= @user.email %></p>
<html>
    <!-- <head> -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <!-- <link rel="stylesheet" href="css/bootstrap.min.css" /> -->
    <!-- </head> -->
    <body>
  　　　　<%= link_to "新規投稿", new_feed_path, class: 'btn btn-default' %>
        <%= link_to "投稿一覧", feeds_path, class: 'btn btn-default' %>
        <!-- <nav class="navbar navbar-default"> -->
            <!-- <button class="btn btn-default navbar-btn">画像投稿</button> -->
        <!-- </nav> -->
        <!-- <nav class="navbar navbar-default"> -->
            <!-- <button class="btn btn-default navbar-btn">投稿画像一覧</button> -->
        <!-- </nav> -->
    </body>
</html>
