// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
  padding-top: 30px;
}
#sectionall{
  position: fixed;
  width: 300px;
  margin-top: 0;
  background-color: #F5F5F5
}
#contents{
  margin-top: 200px;

}
